<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Corbusier</title>
</head>
<body>
    <nav id="nav">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
      </nav>
      <section id="head"> 
        <h1> le corbusier </h1>
        <h2> about </h2>
        <div class="about-div" >
            <img class="corbu-about" src="./images/corbu-about.jpeg" alt="portrait of Corbusier">
            <p class="about-p" > Le Corbusier, byname of Charles-Édouard Jeanneret, 
                (born October 6, 1887, La Chaux-de-Fonds, Switzerland—died August 27, 1965, Cap Martin, France), 
                internationally influential Swiss architect and city planner, whose designs combine the 
                functionalism of the modern movement with a bold sculptural expressionism. 
                He belonged to the first generation of the so-called International school of 
                architecture and was their most able propagandist in his numerous writings. 
                <br> 
                <br>
                In his architecture he joined the functionalist aspirations of his generation 
                with a strong sense of expressionism. He was the first architect to make a studied 
                use of rough-cast concrete, a technique that satisfied his taste for asceticism and 
                for sculptural forms. In 2016, 17 of his architectural works were named World Heritage 
                sites by UNESCO (United Nations Educational, Scientific and Cultural Organization). </p> 
        </div>
      </section>

    
</body>
</html>