<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Corbusier</title>
</head>
<body>
    <nav id="nav">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
      </nav>
      <section id="head"> 
        <h1> le corbusier </h1>
        <img class="corbu-portrait" src="./images/le-corbusier_portrait.jpeg" alt="portrait of Corbusier">
      </section>

    
</body>
</html>