<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Corbusier</title>
</head>
<body>
    <nav id="nav">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
      </nav>
      <section id="head"> 
        <h1> le corbusier </h1>
        <h2> Projects </h2>
      </section>
      <section id="projects" >
        <div class="projects-div">
            <h3> Villa Savoye </h3>
            <p> Villa Savoye is arguably Le Corbusier’s most renowned work and a prime 
                example of Modernist architecture. The sleek geometry of the white living space, 
                with its elongated ribbon windows, is supported by a series of narrow columns 
                around a curved glazed entrance – and topped with a solarium. Completed in 1931, 
                this building was revolutionary: the use of reinforced concrete required for fewer 
                load-bearing internal walls, allowing for an open-plan design.</p>
            <img class="project-img" src="./images/vila-savoye.jpeg" alt="villa-savoye-img">
        </div>
        <div class="projects-div">
            <h3> Unite d’habitation </h3>
            <p> Multifamily residential housing project that focused on community life for all its 
                inhabitants projecting a place to shop, play and live, a” Vertical Garden City “. 
                The Unite d’Habitation in Marseille, France was the first large-scale project for the 
                famed architect, Le Corbusier.

                Unite d’Habitation is one of Le Corbusier’s most important projects, as well as one of 
                the most innovative architectural responses to a residential building. So much so, that 
                the United’ Habitation is said to have influenced the Brutalist Style with the use of 
                beton-brut concrete. Unite d’Habitation has since been the example for public housing 
                across the world.</p>
            <img class="project-img" src="./images/unite-habitation.jpeg" alt="unite-img">
        </div>
        <div class="projects-div">
            <h3> Notre Dame du Haut </h3>
            <p> Iconic Notre Dame du Haut is one of the earliest Modernist churches. 
                It is not a total departure from traditional church architecture, with its 
                stained glass, tower, and high ceilings, symbolically drawing the 
                eye – and the mind – towards heaven. Each window is cut through the wall 
                in different sizes and angles, scattering ethereal colored light across the room.</p>
            <img class="project-img" src="./images/Notre-Dame-du-Haut.jpeg" alt="notre-dame-img">
        </div>
      </section>

    
</body>
</html>